
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>SİL</h1>


<div class="container">

    <form asp-action="Delete" asp-controller="Personel" method="post">

        <input type="text" name="PersonelID" placeholder="Hospital Id" />
        </br>
        </br>

        <button>PERSONELİ SİL</button>


    </form>


</div>