
@{
    ViewData["Title"] = "education";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
        <h2 class="mb-5">EĞİTİM</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Anadolu Üniversitesi </h3>
                <div class="subheading mb-3">Bilgisayar Programcılığı</div>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Ekim 2022 </span>
            </div>
        </div>
        <br />
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">İzmir Demokrasi Üniversitesi</h3>
                <div class="subheading mb-3">Yönetim Bilişim Sistemleri</div>
                <p>GANO: 3</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Eylül 2018 - Haziran 2022</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Betontaş Anadolu Lisesi</h3>
                <div class="subheading mb-3"> </div>
                <p>Ort:87</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Eylül 2014 - Haziran 2018</span>
            </div>
        </div>

    </div>
</section>