
@{
    ViewData["Title"] = "skills";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Yetenekler</h2>

        <div class="subheading mb-3">Programlama Dilleri ve Araçlar</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-wordpress"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-linux"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-github"></i>
            </li>
           
            <li class="list-inline-item">
                <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-postgresql"></i>
            </li>
           
        </ul>

        <div class="subheading mb-3">Kişisel Projeler</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                 HES uygulamasının insan bilgisayar etkileşimi
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                 Otizmli kişiler için akıllı saat için UI ux tasarımı
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Makine öğrenimi ile diyabeti tahmin etme
            </li>
     
        </ul>
    </div>
</section>
